@import "bower_components/uikit/scss/uikit-mixins.scss"

// Fonts
@import "http://fonts.googleapis.com/css?family=Montserrat:400:700)"

// Colors
$color-grey-lightest	: #eee
$color-grey-light 		: #ccc
$color-grey-medium 		: #777
$color-grey-dark 		: #23282d
$color-grey-darkest 	: #141517
$pattern-dark			: url(images/patterns/lodyas.png)
$pattern-light			: url(images/patterns/geometry.png)
// Fonts
$font-heading	: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-body		: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif

// Units
$space: 20px
$bold: 700

// Utilities
$utility-container-large-max-width: 1000px

// Base
$base-margin-vertical 		: $space*1.5
$base-heading-font-family	: $font-heading
$base-body-font-family 		: $font-body
$base-heading-font-weight 	:  $bold

// Panel
$panel-box-padding 			: $space
$panel-box-background 		: white
$panel-title-font-weight 	: $bold
$panel-title-font-size 		: 24px
.uk-panel-box
	border: 1px solid $color-grey-lightest

// Article
$article-title-font-weight 	: $bold

// Navbar
$navbar-nav-height 				: 60px
$navbar-background 				: $pattern-dark
$navbar-nav-color 				: $color-grey-light
$navbar-nav-hover-color			: $color-grey-lightest
$navbar-nav-hover-background 	: transparent
$navbar-nav-onclick-background	: rgba($color-grey-dark, 0.5)
$navbar-nav-onclick-color 		: $color-grey-lightest
$navbar-nav-font-family 		: $font-body
$navbar-brand-color 			: $color-grey-light
$navbar-brand-hover-color 		: $color-grey-lightest
.uk-navbar-brand
	padding-left: 0px !important

// General
body, html
	// background-color: $color-grey-lightest
	background: $pattern-light
html
	height: 100%
footer 
	background: $pattern-dark
	color: $color-grey-medium
	padding-top: $space*1.5

$content-margin-top 		: $space*1.5
$content-margin-bottom 		: $space*1.5
.content
	margin-top: $content-margin-top
	margin-bottom: $content-margin-bottom
	&.home 
		max-width: 100%
		margin: 0px

.panel-event
	height: 180px

// Utility Classes
.margin-bottom
	margin-bottom: $space*1.5 !important


@import "bower_components/uikit/scss/uikit.scss"
@import "bower_components/uikit/scss/components/autocomplete.scss" 

// My Styles
@import "assets/styles/sass/components/jumbotron.sass"